body {
    width: 100%;
    background: linear-gradient(to right, rgba(60, 16, 83, 1), rgba(173, 83, 137, 1));
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 34px 65px 34px 65px;
}

main> h1{
    color: #ffff;
    padding-bottom: 59px;
}

main> img{
    position: absolute;
    bottom: 10px;
    right: 1110px;
    width: 219px;
    height: 219px;
}

.container-filling{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 111px;

}

.container-filling> .content-filling{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 36px;
}

.content-filling> input{
    width: 350px;
    height: 90px;
    border-radius: 10px;
    font-size: 40px;
    text-align: center;
}

.content-filling> button{
    padding: 17px 53px;
    border-radius: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #fffF;
}

.btn-preencher{
    background: linear-gradient(to right, rgba(92, 37, 141, 1), rgba(173, 116, 223, 1));
}

.btn-limpar{
    background: linear-gradient(to right,rgba(255, 179, 71, 1),rgba(255, 81, 47, 1));
}