@import url('https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&family=Jomhuria&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Cascadia Mono", sans-serif;
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(49, 56, 63);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 56px;
}

h1{
   color: #ffff;
}

#space_number{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffff;
    width: 629px;
    height: 326px;
    border-radius: 10px;
}


#input_numb{
    width: 327px;
    height: 89px;
    align-items: center;
    text-align: center;
    font-size: 48px;
}

button{
    width: 329px;
    height: 89px;
    text-align: center;
    font-size: 48px;
    border-radius: 10px;
    background-color: rgba(85, 46, 223, 1);
    color: #ffff;
    cursor: pointer;
}



